{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ExploreAfrica * Free Stock Photos</title>
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
  </head>
  <body>
        
    {% include 'layout/navbar.html' %}
    <div class="alert alert-warning alert-dismissible fade show test_alert fixed-bottom" role="alert" style="display:none;" >
            <strong>Link successfully copied</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    <main>
          {% block content %} {% endblock %}
    </main>
      {% include 'layout/footer.html' %}


    <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
<script>
        $('.carousel').carousel({
          interval: 3000,
        })

        
      </script>
      <script>
            $(document).ready(function() {
          $(".btn_toggle").click(function() {
            $(".test_alert").toggle();
          });
          $("#categories-toggle").hover(function() {$("#categories-show").toggle()})
        });

        $("#dropdownMenuLink-initiate").hover(function(){$(".dropdown-menu").toggle()})

            </script>
    
    
   
</body>
</html>